---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout>
	<section>
		<div class="flex flex-col gap-3 items-center justify-center p-12">
			<img src="https://framerusercontent.com/images/f77cWhM3X8SCQvBAx5f0JQ8CLQ.png" class="size-40" alt="">
			<span class="font-semibold">Thoughts, stories and ideas</span>
		</div>
	</section>
	<section>
		<span class="font-semibold mb-8">Featured Article</span>
		<div class="flex gap-6 items-center">
			<img src="/adam.png" class="size-[50%] rounded-lg">
			<div class="flex flex-col gap-3">
				<h3 class="text-lg font-semibold">The Continuing Legacy of Sword & Sorcery: What's Next for the Genre?</h3>
				<div class="flex">
					<span>Celestia Lily</span>
					<span>Sep 17, 2024</span>
				</div>
				<p>Explore the enduring legacy of Sword & Sorcery and how the genre is evolving, bringing classic tropes into new and exciting realms.</p>
			</div>
			
		</div>
	</section>
	<hr class="mt-12">
	<section>

	</section>
</BaseLayout>