---
import Heart from '../icons/heart.svg'
import Github from '../icons/github.svg'
import Linkedin from '../icons/linkedin.svg'
import X from '../icons/x.svg'
---

<footer class="flex justify-between items-center h-12">
    <div class="footer-left">
        <p class="flex items-center gap-2 text-sm text-[#282828]">&copy; 2025 Syntax World - Published with <Heart class="scale-105" /> </p>
    </div>
    <div class="footer-right flex items-center gap-5 *:scale-125">
        <a href="https://github.com/Anti-VibeCoders" target="_blank">
            <Github />
        </a>
        <a href="https://www.linkedin.com/company/syntax-world-workspace/" target="_blank">
            <Linkedin />
        </a>
        <a href="https://x.com/SyntaxW36" target="_blank">
            <X />
        </a>
    </div>
</footer>