---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/index.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syntax World - Blog</title>
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" href="/favicon/favicon.ico" sizes="any" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
</head>
<body class="font-inter flex justify-center items-center dark:bg-black dark:text-[#d1d5db]">
    <script src="../scripts/lenis.js"></script>
    <main class="min-h-dvh flex flex-col w-4xl">
        <Header />
        <section class="main-content flex-1 max-lg:px-1">
            <slot />
        </section>
        <Footer />
    </main>
</body>
</html>