---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/index.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <title>Syntax World - Blog</title>
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" href="/favicon/favicon.ico" sizes="any" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <meta property="og:type" content="website">
	<meta property="og:url" content="https://syntax-blog.vercel.app/">
	<meta property="og:title" content="Syntax World">
	<meta property="og:description" content="Syntax World es un grupo de programadores profesionales capaces de resolver cualquier problema, crear un producto o servicio digital de forma rápida y de la mejor forma para asegurar el funcionamiento y satisfacción de nuestros clientes.">
	<meta property="og:image" content="https://syntax-blog.vercel.app/syntax-og.png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://syntax-blog.vercel.app/">
	<meta property="twitter:title" content="Syntax World">
	<meta property="twitter:description" content="Syntax World es un grupo de programadores profesionales capaces de resolver cualquier problema, crear un producto o servicio digital de forma rápida y de la mejor forma para asegurar el funcionamiento y satisfacción de nuestros clientes.">
	<meta property="twitter:image" content="https://syntax-blog.vercel.app/syntax-og.png">
	<meta name="description" content="Syntax World es un grupo de programadores profesionales capaces de resolver cualquier problema y crear un producto o sevicio digital.">
	<link rel="canonical" href="https://syntax-blog.vercel.app/">
    <script type="application/ld+json">
		{
		"@context": "https://schema.org",
		"@type": "Person",
		"@id": "https://syntax-blog.vercel.app/",
		"name": "Said Ruíz",
		"url": "https://syntax-blog.vercel.app/",
		"logo": "https://syntax-blog.vercel.app/favicon/favicon-96x96.png",
		"description": "Syntax World es un grupo de programadores freelancer diversificados y profesionales, capaces de crear cualquier servicio digital.",
		"contactPoint": [
			{
			"@type": "ContactPoint",
			"telephone": "+593958840826",
			"contactType": "customer service",
			"email": "syntaxworld36@gmail.com",
			"areaServed": [
				"EC",     
				"DO",      
				"US",      
				"CO",      
				"AR"      
			]
			}
		],
		"sameAs": [
			"https://www.linkedin.com/company/syntax-world-workspace/",
			"https://github.com/SyntaxW36"
		]
		}
		</script>
</head>
<body class="font-inter flex justify-center items-center dark:bg-black dark:text-[#d1d5db]">
    <script src="../scripts/lenis.js"></script>
    <main class="min-h-dvh flex flex-col w-4xl">
        <Header />
        <section class="main-content flex-1 max-lg:px-1">
            <slot />
        </section>
        <Footer />
    </main>
</body>
</html>