---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/index.css'
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syntax World - Blog</title>
</head>
<body class="font-inter flex justify-center items-center">
    <main class="min-h-dvh flex flex-col w-4xl">
        <div class="header-container">
            <Header />
        </div>
        <section class="main-content flex-1">
            <slot />
        </section>
        <div class="footer-container">
            <Footer />
        </div>
    </main>
</body>
</html>